.vscode/*
.vs/*

dependencies/libyaml/*
dependencies/raylib/*
dependencies/raylib_corrupted/*
dependencies/glfw/*
screenshots/*
src/baked_data.hpp

.vscode/*

app
app.exe
log.txt
gf2
palette.gpl
polymers.yaml
save.yaml
build.sh

.sconsign.dblite
.fuse_hidden*

*.o